<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test-data</key>
	<array>
		<dict>
			<key>value</key>
			<real>123.45678</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>123.45</string>
			<key>part2</key>
			<string>67</string>
			<key>part3</key>
			<string>8</string>
		</dict>
		<dict>
			<key>value</key>
			<real>12.45698</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>12.45</string>
			<key>part2</key>
			<string>69</string>
			<key>part3</key>
			<string>8</string>
		</dict>
		<dict>
			<key>value</key>
			<real>12.4569</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>12.45</string>
			<key>part2</key>
			<string>69</string>
			<key>part3</key>
			<string>0</string>
		</dict>
		<dict>
			<key>value</key>
			<real>12.4569</real>
			<key>multiplier</key>
			<integer>100</integer>
			<key>part1</key>
			<string>12.</string>
			<key>part2</key>
			<string>45</string>
			<key>part3</key>
			<string>6</string>
		</dict>
		<dict>
			<key>value</key>
			<real>3.50881</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>3.50</string>
			<key>part2</key>
			<string>88</string>
			<key>part3</key>
			<string>1</string>
		</dict>
		<dict>
			<key>value</key>
			<real>3.50889</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>3.50</string>
			<key>part2</key>
			<string>88</string>
			<key>part3</key>
			<string>9</string>
		</dict>
		<dict>
			<key>value</key>
			<real>3.508891</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>3.50</string>
			<key>part2</key>
			<string>88</string>
			<key>part3</key>
			<string>9</string>
		</dict>
		<dict>
			<key>value</key>
			<real>3.508</real>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>3.50</string>
			<key>part2</key>
			<string>80</string>
			<key>part3</key>
			<string>0</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>123</integer>
			<key>multiplier</key>
			<real>10000</real>
			<key>part1</key>
			<string>123.00</string>
			<key>part2</key>
			<string>00</string>
			<key>part3</key>
			<string>0</string>
		</dict>
		<dict>
			<key>value</key>
			<real>123.13</real>
			<key>multiplier</key>
			<integer>10</integer>
			<key>part1</key>
			<string>12</string>
			<key>part2</key>
			<string>3.1</string>
			<key>part3</key>
			<string>3</string>
		</dict>
		<dict>
			<key>value</key>
			<real>123.1</real>
			<key>multiplier</key>
			<integer>10</integer>
			<key>part1</key>
			<string>12</string>
			<key>part2</key>
			<string>3.1</string>
			<key>part3</key>
			<string>0</string>
		</dict>
		<dict>
			<key>value</key>
			<real>85.09999999999999</real>
			<key>multiplier</key>
			<integer>100</integer>
			<key>part1</key>
			<string>85.</string>
			<key>part2</key>
			<string>10</string>
			<key>part3</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
